/*Heading start*/

#Heading {
  text-align: center;
}

/*Heading end*/

/*Nav section start*/
/*Navbar start*/

#nav-bar {
  margin-left: auto;
  margin-right: auto;
}

/*Navbar end*/

/*Nav link start*/

.nav-link {
  color: rgb(5, 5, 5);
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

/*Nav link end*/

ul {
  list-style-type: none;
  padding-right: 25px;

}

li {
  float: left;
  padding: 1px;
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

/*Nav section end*/

/*Header start*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  background-color: rgb(25, 230, 179);
  z-index: 10;
}

/*Header end*/

/*Background start*/

#Background {
  background-image: url(https://apis.xogrp.com/media-api/images/8f16de1c-5fd3-11e4-843f-22000aa61a3e);
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: 2000px 1500px;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}

/*Background end*/

.CommentSection {
  color: white;
  font-size: 18px;
  margin-right: 300px;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 250px;
  text-shadow: 2px 2px #131212;
}

#comment {
  text-align: center;
  padding-top: 20px;
}

.submit-button {
  position: relative;
  font-size: 14px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.25rem;
}

/*Footer start*/

#Footer-Section {
  background-color: rgb(25, 230, 179);
  margin-top: 50px;
}

.footer {
  text-align: center;
  background-color: rgb(25, 230, 179);
  padding-top: 50px;
}

#contact-message {
  color: white;
  text-shadow: 2px 2px #000000;
}

/* Here I style the links to the social media platforms*/
.contact-links {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}


.fa {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-phone {
  background: #63C5DA;
  color: white;
}

/*Footer end*/





#slider {
  width: 1480px;
  height: 400px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 3000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 320px;
  height: 400px;
  margin-left: 50px;
}

.reviewHead {
  color: white;
  text-align: center;
}

.reviewHead1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
}
.reviewPar1 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  padding-bottom: 20px;
}

.reviewHead2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
}
.reviewPar2 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
  padding-bottom: 44px;
}

.reviewHead3 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
}
.reviewPar3 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
  padding-bottom: 20px;
}

.reviewHead4 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
}
.reviewPar4 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
  padding-bottom: 20px;
}




@media all and (max-width: 1536px) {



  /*Heading start*/

#Heading {
  text-align: center;
}

/*Heading end*/

/*Nav section start*/
/*Navbar start*/

#nav-bar {
  margin-left: auto;
  margin-right: auto;
}

/*Navbar end*/

/*Nav link start*/

.nav-link {
  color: rgb(5, 5, 5);
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

/*Nav link end*/

ul {
  list-style-type: none;
  padding-right: 25px;

}

li {
  float: left;
  padding: 1px;
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: bold;
}

/*Nav section end*/

/*Header start*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  background-color: rgb(25, 230, 179);
  z-index: 10;
}

/*Header end*/

/*Background start*/

#Background {
  background-image: url(https://apis.xogrp.com/media-api/images/8f16de1c-5fd3-11e4-843f-22000aa61a3e);
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: 2000px 1500px;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}

/*Background end*/

.CommentSection {
  color: white;
  font-size: 18px;
  margin-right: 300px;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 250px;
  text-shadow: 2px 2px #131212;
}

#comment {
  text-align: center;
  padding-top: 20px;
}

.submit-button {
  position: relative;
  font-size: 14px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.25rem;
}

/*Footer start*/

.Footer-Section {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 230, 179);
}

.footer {
  text-align: center;
  background-color: rgb(25, 230, 179);
  padding-top: 50px;
}

.contact-links {
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

#contact-message {
  color: white;
  text-shadow: 2px 2px #000000;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}


.fa {
  padding: 25px;
  font-size: 5px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-phone {
  background: #63C5DA;
  color: white;
}

/*Footer end*/





#slider {
  width: 1480px;
  height: 400px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 3000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 320px;
  height: 400px;
  margin-left: 50px;
}

.reviewHead {
  color: white;
  text-align: center;
}

.reviewHead1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
}
.reviewPar1 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  padding-bottom: 20px;
}

.reviewHead2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
}
.reviewPar2 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
  padding-bottom: 44px;
}

.reviewHead3 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
}
.reviewPar3 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
  padding-bottom: 20px;
}

.reviewHead4 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
}
.reviewPar4 {
  color: white;
  text-shadow: 2px 2px #000000;
  border: rgb(139, 206, 169) solid;
  margin-left: 10px;
  padding-bottom: 20px;
}

}